{% extends 'newsapp/base.html' %}
{% block title %}{{ category.name }} - The Daily News{% endblock %}
{% block content %}
    <h1>{{ category.name }}</h1>
    {% for item in news_items %}
        <div class="news-item">
            <a href="{% url 'news_detail' item.slug %}">{{ item.title }}</a>
            <p class="pub-info">Published: {{ item.pub_date|date:"F j, Y, g:i A" }}</p>
             {% if item.summary %}
                        <p class="summary">{{ item.summary }}</p>
                    {% endif %}
        </div>
    {% empty %}
        <p>No news in this category.</p>
    {% endfor %}
    <p class="back-link"><a href="{% url 'home' %}">Back to Home</a></p>
{% endblock %}